language: cpp
os: osx
addons:
  homebrew:
    packages:
      - glfw
      - qt
    update: true
  apt:
    packages:
      - libglfw3
      - libglfw-dev
      - qt5-default
    update: true
env:
  global:
    - DEPLOY_VERSION=$(<version.txt)
jobs:
  include:
    - os: osx
      osx_image: xcode12.2
      script:
        - pwd
        - ls
        - mkdir build
        - cd build
        - |
          cmake \
          -DQt5_DIR=$(brew --prefix qt5)/lib/cmake/Qt5 \
          ..
        - make
        - ./test/ModelsUnitTests/ModelTests
    - os: linux
      dist: xenial
      script:
        - sudo apt upgrade cmake
        - mkdir build
        - cd build
        - PREFIX_PATH=`llvm-config-$VERSION --prefix`
        - |
          cmake \
          -DCMAKE_PREFIX_PATH=$PREFIX_PATH \
          ..
          make