language: cpp
os: osx
osx_image: xcode12.2
env:
  global:
    - DEPLOY_VERSION=$(<version.txt)
jobs:
  include:
    - os: linux
      dist: ubuntu
      stages:
        - build
            - mkdir build
            - cd build
      addons:
        apt:
          packages:
            - glfw
            - qt
    - os: osx
      osx_image: xcode12.2
      stages:
        - build
            - brew upgrade qt
            - mkdir build
            - cd build
      addons:
        homebrew:
          packages:
            - glfw
            - qt
          update: true
script:
  - |
    cmake \
    -DQt5_DIR=$(brew --prefix qt5)/lib/cmake/Qt5 \
    ..
  - ./test/ModelsUnitTests/ModelTests