language: cpp
os: osx
addons:
  homebrew:
    packages:
      - glfw
      - qt
    update: true
  apt:
    packages:
      - glfw
      - qt
    update: true
env:
  global:
    - DEPLOY_VERSION=$(<version.txt)
jobs:
  include:
    - os: osx
      osx_image: xcode12.2
    - stage: setup
      script:
        - mkdir build
        - cd build
    - stage: build
      script:
        - |
          ls
          cmake \
          -DQt5_DIR=$(brew --prefix qt5)/lib/cmake/Qt5 \
          ..
    - os: linux
      dist: ubuntu
    - stage: setup
      script:
        - mkdir build
        - cd build
    - stage: build
      script:
        - |
          ls
          cmake \
          -DQt5_DIR=$(brew --prefix qt5)/lib/cmake/Qt5 \
          ..
script:
  - ./test/ModelsUnitTests/ModelTests