language: cpp
os: osx
addons:
  homebrew:
    packages:
      - glfw
      - qt
    update: true
  apt:
    packages:
      - libglfw2
      - libglfw-dev
      - gt5-default
    update: true
env:
  global:
    - DEPLOY_VERSION=$(<version.txt)
jobs:
  include:
    - os: osx
      osx_image: xcode12.2
      script:
        - mkdir build
        - cd build
        - |
          cmake \
          -DQt5_DIR=$(brew --prefix qt5)/lib/cmake/Qt5 \
          ..
          ls
    - os: linux
      dist: trusty
      script:
        - apt-cache search glfw
        - mkdir build
        - cd build
        - |
          ls
          cmake \
          ..
script:
  - ./test/ModelsUnitTests/ModelTests